.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lInput {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
}
.lButton {
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  height: 30px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
